<section class="blog_wrapper pb-0">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 section-title text-center mb-5">
        <h6>Say Hello To Our Visiters</h6>
        <h3>Our Blog</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 mb-4">
        <div class="card p-0 border-0 rounded-0">
          <img src="/assets/images/blog/blog1.webp" alt="">
          <div class="blog-content bg-white p-4">
            <h5 class="text-decoration-underline mb-4">Relax Zone</h5>
            <h6>By-Admin - February 18,2018</h6>
            <p class="mt-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, a.</p>
            <a class="main-btn mt-2">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-4">
        <div class="card p-0 border-0 rounded-0">
          <img src="/assets/images/blog/blog2.webp" alt="">
          <div class="blog-content bg-white p-4">
            <h5 class="text-decoration-underline mb-4">Relax Zone</h5>
            <h6>By-Admin - February 18,2018</h6>
            <p class="mt-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, a.</p>
            <a class="main-btn mt-2">Read More</a>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="our-partner-slider mt-5">
    <div class="container swiper our-partner">
      <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="/assets/images/partners/brand1.webp" alt=""></div>
        <div class="swiper-slide"><img src="/assets/images/partners/brand2.webp" alt=""></div>
        <div class="swiper-slide"><img src="/assets/images/partners/brand3.webp" alt=""></div>
        <div class="swiper-slide"><img src="/assets/images/partners/brand4.webp" alt=""></div>
        <div class="swiper-slide"><img src="/assets/images/partners/brand5.webp" alt=""></div>
        <div class="swiper-slide"><img src="/assets/images/partners/brand6.webp" alt=""></div>
      </div>
    </div>
  </div>
</section>

<section class="footer-wrapper mt-3 mt-md-0 pb-0">
  <div class="container pb-3 pt-4">
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <h5>Hotel location</h5>
        <p class="ps-0">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos beatae place</p>
        <div class="contact-info">
          <ul class="list-unstyled">
            <li><a><i class="home">h</i></a></li>
            <li><a><i class="phone">p</i></a></li>
            <li><a><i class="envelope me-3">e</i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <h5>More Links</h5>
        <ul class="link-widget p-0">
          <li><a>About Us</a></li>
          <li><a>Our Office</a></li>
          <li><a>Delivery</a></li>
          <li><a>Our Store</a></li>
          <li><a>Gurentee</a></li>
          <li><a>Buy Gift Card</a></li>
          <li><a>Return Policy</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6">
        <h5>More Links</h5>
        <ul class="link-widget p-0">
          <li><a>About Us</a></li>
          <li><a>Our Office</a></li>
          <li><a>Delivery</a></li>
          <li><a>Our Store</a></li>
          <li><a>Gurentee</a></li>
          <li><a>Buy Gift Card</a></li>
          <li><a>Return Policy</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6">
        <h5>Newsletter</h5>
        <div class="form-group mb-4">
          <input type="email" class="form-control bg-transperent" placeholder="enter your email here">
          <button class="main-btn rounded-2 mt-3 border-white text-white">Subscribe</button>
        </div>
        <h5>Stay Connected</h5>
        <ul class="social-network d-flex align-items-center p-0">
          <li><a><i class="f"></i></a></li>
          <li><a><i class="t"></i></a></li>
          <li><a><i class="g"></i></a></li>
          <li><a><i class="v"></i></a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container-fluid copyright-section">
    <p>Copyright <a> Hotel Dreamland </a>All Rights Reserved</p>
  </div>
</section>
