<div class="text-center">
  <h1 class="container mt-3 book-area">Book Now</h1>
  <div class="container book-area">
    <form>
      <label><h5>Select date : </h5>
        <input type="date" placeholder="Date" class="form-control mt-3"></label>
      <br><br>
      <label><h5>Select no of persons: </h5>
        <select class="form-select">
          <option selected>Adults</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
        </select>
      </label>
      <label>
        <select class="form-select">
          <option selected>Children</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
        </select>
      </label><br>
      <button class="check-available">Check Availability</button>
      
    </form>
  </div>
</div>
