<section class="rooms_wrapper">
  <button class="back-btn" routerLink="/main"><i class="bi bi-chevron-left"></i></button>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 section-title text-center">
        <h6 class="mt-4">What I can do for you</h6>
       <h2>Our Favorite Rooms</h2>
      </div>
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="room h-100">
            <img src=".\assets\images\room\room1.webp" class="card-img-top" alt="room1">
            <div class="card-body room-content text-center">
              <h4 class="card-title mb-lg-4 mt-4">Royal Suit</h4>
              <p class="card-text">Discover five of out favourite dresses from out new collection that are destined to be woen and loved immediately</p>
              <p class="fw-bold mt-lg-4">2000Rs / per Night</p>
              <button class="main-btn border-white" routerLink="/booking-area/book-now">Book Now</button>
            </div>
          
          </div>
        </div>
        <div class="col">
          <div class="room h-100">
            <img src=".\assets\images\room\room2.webp" class="card-img-top" alt="...">
            <div class="card-body room-content text-center">
              <h4 class="card-title mb-lg-4  mt-4">Royal Suit</h4>
              <p class="card-text">Discover five of out favourite dresses from out new collection that are destined to be woen and loved immediately</p>
              <p class=" fw-bold mt-lg-4">2000Rs / per Night</p>
              <button class="main-btn border-white" routerLink="/booking-area/book-now">Book Now</button>
            </div>
            
          </div>
        </div>
        <div class="col">
          <div class="room h-100">
            <img src=".\assets\images\room\room3.webp" class="card-img-top" alt="room3">
            <div class="card-body room-content text-center">
              <h4 class="card-title mb-lg-4  mt-4">Royal Suit</h4>
              <p class="card-text">Discover five of out favourite dresses from out new collection that are destined to be woen and loved immediately</p>
              <p class="fw-bold mt-lg-4">2000Rs / per Night</p>
              <button class="main-btn border-white" routerLink="/booking-area/book-now">Book Now</button>
            </div>
          
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
