<div class="container text-center">
  <div class="container">
    <h1 class=" text-center">Book Now</h1>
    <form>
      <label><h5>Check In date : </h5>
        <input type="date" placeholder="Date" class="form-control mt-3"></label>
        <label><h5>Check Out date : </h5>
          <input type="date" placeholder="Date" class="form-control mt-3"></label>
      <br><br>
      <label>Select no of persons: 
        <select class="form-select">
          <option selected>Adults</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
        </select>
      </label>
      <label>
        <select class="form-select">
          <option selected>Children</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
        </select>
      </label><br>
      <button class="check-available">Check Availability</button>
      
    </form>
  </div>
</div>
