<section class="team_wrapper">
  <button class="back-btn" routerLink="/main"><i class="bi bi-chevron-left"></i></button>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 section-title text-center mb-5">
        <h6 class="m-4">What I can do for you</h6>
        <h2>Our Special Staff</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card p-0 rounded-3">
          <img src="/assets/images/team/team1.webp" alt="">
          <div class="team_info">
            <h5>Shurket Gibson</h5>
            <p>Manager</p>
            <ul class="social-network">
              <li><a><i class="bi bi-facebook "></i></a></li>
              <li><a><i class="bi bi-twitter "></i></a></li>
              <li><a><i class="bi bi-google "></i></a></li>
              <li><a><i class="bi bi-vimeo "></i></a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card p-0 rounded-3">
          <img src="/assets/images/team/team2.webp" alt="">
          <div class="team_info">
            <h5>Ronald Long</h5>
            <p>Chif Reciption Officer</p>
            <ul class="social-network">
              <li><a><i class="bi bi-facebook"></i></a></li>
              <li><a><i class="bi bi-twitter"></i></a></li>
              <li><a><i class="bi bi-google"></i></a></li>
              <li><a><i class="bi bi-vimeo"></i></a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card p-0 rounded-3">
          <img src="/assets/images/team/team3.webp" alt="">
          <div class="team_info">
            <h5>Ashley Sanchev</h5>
            <p>Manager</p>
            <ul class="social-network">
              <li><a><i class="bi bi-facebook"></i></a></li>
              <li><a><i class="bi bi-twitter"></i></a></li>
              <li><a><i class="bi bi-google"></i></a></li>
              <li><a><i class="bi bi-vimeo"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card p-0 rounded-3">
          <img src="/assets/images/team/team4.webp" alt="">
          <div class="team_info">
            <h5>Jessica Watson</h5>
            <p>Housekeeping</p>
            <ul class="social-network">
              <li><a><i class="bi bi-facebook"></i></a></li>
              <li><a><i class="bi bi-twitter"></i></a></li>
              <li><a><i class="bi bi-google"></i></a></li>
              <li><a><i class="bi bi-vimeo"></i></a></li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
